body,html{
height:100%;
}
.bg{
background-image:url(../../../../Users/91959/Pictures/Camera Roll/1651374052800.jpeg);
height:100%;
background-position:center;
background-repeat:repeat;
background-size:cover;


}